[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[core]
	editor = "emacsclient" --alternate-editor emacs
[push]
	default = current
[alias]
	br = branch
	co = checkout
	cm = commit
	st = status
	df = diff
	log-simple = log --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short --reverse --decorate
	log-graph = log --graph --pretty='format:%C(cyan)%h%Cblue%d%Creset %s %C(green)%an, %ar%Creset' --decorate
[init]
	templatedir = ~/.git_template
[user]
	name = ssaito
	email = shinya.saito.25a@gmail.com
