# .emacs.d向け.gitignore
# ホワイトリスト方式

# 直下のファイル、ディレクトリを全て無視する
/*

# 無視しないリスト
## ディレクトリ
!/elisp
!/inits
!/snippets

## ファイル
!init.el
!/.gitignore
!my-help.md

## ローカル環境依存用 config は無視する
91-local-config.el

## flycheck.el は無視する
30-flycheck.el

## 6X 番台のプログラミング言語用 config は無視する
6*.el

