<?xml version="1.0"?>
<!--
このファイルは Windows用パッケージ管理システム chocolatey の定義ファイルです。
管理権限の PowerShell から以下のコマンドを叩いてください
$ cinst pakages.config
-->
<packages>
  <!-- メインのエディタ -->
  <package id="emacs" />
  <!-- メインのターミナル&GNU環境 http://qiita.com/ko2ic/items/2574139dd095e5a31e76 -->
  <package id="cygwin"
           installArguments="--packages wget, tar" />
  <!-- git -->
  <package id="git" />
  <!-- メインのブラウザ -->
  <package id="google-chrome-x64" />
  <!-- メインの日本語入力 -->
  <package id="googlejapaneseinput" />
  <!-- 圧縮・解凍ツール -->
  <package id="7zip" />
  <!-- svn client -->
  <package id="tortoisesvn" />
  <!-- java -->
  <package id="jdk8" />
  <!-- java用のビルドツール -->
  <package id="maven" />
  <!-- vagrant -->
  <package id="vagrant" />
  <!-- python -->
  <package id="python" />
  <!-- pip -->
  <package id="pip" />
  <!-- markdownの変換ツール -->
  <package id="pandoc" />
</packages>
