<?xml version="1.0"?>
<!--
このファイルは Windows用パッケージ管理システム chocolatey の定義ファイルです。
管理権限の PowerShell から以下のコマンドを叩いてください
$ cinst pakages.config
-->
<packages>
  <!-- メインのエディタ -->
  <package id="emacs" />
  <!-- メインのブラウザ -->
  <package id="google-chrome-x64" />
  <!-- メインの日本語入力 -->
  <package id="googlejapaneseinput" />
  <!-- 圧縮・解凍ツール -->
  <package id="7zip" />
  <!-- markdownの変換ツール -->
  <package id="pandoc" />
</packages>
